@page "/ManageAccount"
@model HotelManageRazor.Pages.Manage.ManageAccountModel
@{
    Layout = "LayoutAdmin";
}
<link rel="stylesheet" href="~/admin/assets/vendors/simple-datatables/style.css">
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Manage Account</h3>
                <p class="text-subtitle text-muted">For user to check they list</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ManageAccount</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addmodal">Add Account</button>
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Name</th>
                            <th>PhoneNumber</th>
                            <th>CreateAt</th>
                            <th>UpdateAt</th>
                            <th>Role</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.GetAccounts)
                        {
                            <tr class="@(i.Role.RoleId == 1 ? "" : "table-row")"
                                data-id="@i.AccountId" data-email="@i.Email"
                                data-name="@i.Name" data-phone="@i.PhoneNumber"
                                data-role="@i.Role.RoleId" data-status="@i.IsDeleted">
                                <td>@i.Email</td>
                                <td>@i.Name</td>
                                <td>@i.PhoneNumber</td>
                                <td>@i.CreateAt.ToString("dd/MM/yyyy")</td>
                                <td>@i.UpdateAt.ToString("dd/MM/yyyy")</td>
                                <td>@i.Role.RoleName</td>
                                <td>
                                    <button data-bs-toggle="modal"
                                            data-bs-target="@(i.IsDeleted ? "#activemodal" : "#deletemodal")"
                                            type="button"
                                            data-id="@i.AccountId"
                                            class="btn @(i.IsDeleted ?  "btn-danger" : "btn-success" )">
                                        @(i.IsDeleted ? "IsActive" : "Active")
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>
<!--Add Modal -->
<div class="modal fade" id="addmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-page-handler="">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="role" class="col-form-label">Role:</label>
                        <select id="role">
                            <option value="1">Admin</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Delete Modal -->
<div class="modal fade" id="deletemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-page-handler="Active">
                <div class="modal-body">
                    Do you want delete this account?
                    <input type="hidden" id="deleteItemIdInput" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Active Modal -->
<div class="modal fade" id="activemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Active Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-page-handler="Active">
                <div class="modal-body">
                    Do you want active this account?
                    <input type="hidden" id="activeItemIdInput" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Active</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*Update Modal*@
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-page-handler="Update">
                <div class="modal-body">
                    <div class="mb-3" style="display:none;">
                        <label for="modalAccountId" class="form-label">Id</label>
                        <input type="hidden" id="modalAccountId" class="form-control" name="accountId" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="modalEmail" class="form-label">Email</label>
                        <input type="text" id="modalEmail" class="form-control" name="email" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="modalName" class="form-label">Name</label>
                        <input type="text" id="modalName" name="name" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="modalPhone" class="form-label">Phone</label>
                        <input type="text" id="modalPhone" name="phone" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="modalRole" class="form-label">Role</label>
                        <select id="modalRole" class="form-select" name="role">
                            @foreach (var i in Model.GetRoles)
                            {
                                <option value="@i.RoleId">@i.RoleName</option>
                                @*<option value="@i.RoleId" selected="@(i.RoleId == Model.GetRole.RoleId ? "selected" : null)">@i.RoleName</option>*@
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let rows = document.querySelectorAll(".table-row");
        rows.forEach(row => {
            row.addEventListener("click", function () {
                let email = this.getAttribute("data-email");
                let name = this.getAttribute("data-name");
                let phone = this.getAttribute("data-phone");
                let roleId = this.getAttribute("data-role");
                let accountId = this.getAttribute("data-id");

                document.getElementById("modalEmail").value = email;
                document.getElementById("modalName").value = name;
                document.getElementById("modalPhone").value = phone;
                document.getElementById("modalAccountId").value = accountId;
                let roleSelect = document.getElementById("modalRole");
                roleSelect.value = roleId;

                let modal = new bootstrap.Modal(document.getElementById('userModal'));
                modal.show();
            });
        });
    });
</script>


<script src="~/admin/assets/vendors/simple-datatables/simple-datatables.js"></script>
<script>
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let buttons = document.querySelectorAll("[data-bs-toggle='modal']");

        buttons.forEach(button => {
            button.addEventListener("click", function () {
                let itemId = this.getAttribute("data-id");
                let modalId = this.getAttribute("data-bs-target");

                if (modalId === "#deletemodal") {
                    document.getElementById("deleteItemIdInput").value = itemId;
                } else if (modalId === "#activemodal") {
                    document.getElementById("activeItemIdInput").value = itemId;
                }
            });
        });
    });
</script>

